body
{
    background-color:white;
}

h1
{
    color: darkblue;
    text-align: center;
}

.row a
{
    background-color: darkblue;
}

.row b
{
    background-color: white;
}

.header {
    background-color: lightsteelblue;
    padding: 20px;
    text-align: center;
  }

.column {

    float: left;
    width: 45%;
    padding: 35px;
}

.row:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width:400px) {
.column {
    width: 100%;
}
}